<div ng-controller="emailInboxV2Controller">
    <!-- begin vertical-box -->
    <div class="vertical-box">
        <!-- begin vertical-box-column -->
        <div class="vertical-box-column width-250">
            <!-- begin wrapper -->
            <div class="wrapper bg-silver text-center">
                <a ui-sref="app.email.compose" class="btn btn-success p-l-40 p-r-40 btn-sm">
                    Compose
                </a>
            </div>
            <!-- end wrapper -->
            <!-- begin wrapper -->
            <div class="wrapper">
                <p><b>FOLDERS</b></p>
                <ul class="nav nav-pills nav-stacked nav-sm">
                    <li class="active"><a ui-sref="app.email.inbox-v2"><i class="fa fa-inbox fa-fw m-r-5"></i> Inbox <span class="badge pull-right">52</span></a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-flag fa-fw m-r-5"></i> Important</a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-send fa-fw m-r-5"></i> Sent</a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-pencil fa-fw m-r-5"></i> Drafts</a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-trash fa-fw m-r-5"></i> Trash</a></li>
                </ul>
                <p><b>LABEL</b></p>
                <ul class="nav nav-pills nav-stacked nav-sm m-b-0">
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-inverse"></i> Admin</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-primary"></i> Designer & Employer</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-success"></i> Staff</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-warning"></i> Sponsorer</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-danger"></i> Client</a></li>
                </ul>
            </div>
            <!-- end wrapper -->
        </div>
        <!-- end vertical-box-column -->
        <!-- begin vertical-box-column -->
        <div class="vertical-box-column">
            <!-- begin wrapper -->
            <div class="wrapper bg-silver-lighter">
                <!-- begin btn-toolbar -->
                <div class="btn-toolbar">
                    <!-- begin btn-group -->
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <!-- end btn-group -->
                    <!-- begin btn-group -->
                    <div class="btn-group dropdown">
                        <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                            View All <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu text-left text-sm">
                            <li class="active"><a href="#"><i class="fa fa-circle f-s-10 fa-fw m-r-5"></i> All</a></li>
                            <li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Unread</a></li>
                            <li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Contacts</a></li>
                            <li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Groups</a></li>
                            <li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Newsletters</a></li>
                            <li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Social updates</a></li>
                            <li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Everything else</a></li>
                        </ul>
                    </div>
                    <!-- end btn-group -->
                    <!-- begin btn-group -->
                    <div class="btn-group">
                        <button class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="top" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
                    </div>
                    <!-- end btn-group -->
                    <!-- begin btn-group -->
                    <div class="btn-group">
                        <button class="btn btn-sm btn-white hide" data-email-action="delete"><i class="fa fa-times m-r-3"></i> <span class="hidden-xs">Delete</span></button>
                        <button class="btn btn-sm btn-white hide" data-email-action="archive"><i class="fa fa-folder m-r-3"></i> <span class="hidden-xs">Archive</span></button>
                        <button class="btn btn-sm btn-white hide" data-email-action="archive"><i class="fa fa-trash m-r-3"></i> <span class="hidden-xs">Junk</span></button>
                    </div>
                    <!-- end btn-group -->
                </div>
                <!-- end btn-toolbar -->
            </div>
            <!-- end wrapper -->
            <!-- begin list-email -->
            <ul class="list-group list-group-lg no-radius list-email">
                <li class="list-group-item inverse">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-14.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">Today</span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">Bootstrap v4.0 is coming soon</a>
                            <span class="label label-inverse f-s-10">admin</span>
                        </h5>
                        <p class="email-desc">
                            Praesent id pulvinar orci. Donec ac metus non ligula faucibus venenatis. Suspendisse tortor est, placerat eu dui sed...
                        </p>
                    </div>
                </li>
                <li class="list-group-item primary">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-13.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            2 days ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">Color Admin dashboard v2 is ready for live</a>
                            <span class="label label-primary f-s-10">designer</span>
                        </h5>
                        <p class="email-desc">Proin interdum aliquam urna, quis lobortis magna tincidunt ac. Integer sed pulvinar neque...
                        </p>
                    </div>
                </li>
                <li class="list-group-item primary">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-11.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            1 week ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">Sidebar animation bugfix</a>
                            <span class="label label-primary f-s-10">employer</span>
                        </h5>
                        <p class="email-desc">
                            Nam sit amet lacinia massa, sit amet blandit urna. Duis pharetra ex id ipsum posuere...
                        </p>
                    </div>
                </li>
                <li class="list-group-item success">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-12.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            1 week ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">Bootstrap Framework is awesome</a>
                            <span class="label label-success f-s-10">staff</span>
                        </h5>
                        <p class="email-desc">
                            Etiam enim ipsum, malesuada in consectetur interdum, malesuada et lacus. Aenean faucibus turpis lorem...
                        </p>
                    </div>
                </li>
                <li class="list-group-item inverse">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-9.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            2 months ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">Handlebars help you to build semantic template </a>
                            <span class="label label-inverse f-s-10">admin</span>
                        </h5>
                        <p class="email-desc">
                            Proin consectetur accumsan rhoncus. Nulla porta orci ultricies lectus consequat fringilla. Vestibulum ante ipsum primis in faucibus...
                        </p>
                    </div>
                </li>
                <li class="list-group-item inverse">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-10.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            2 months ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">jQuery 2++ no longer compatibility with the old browser</a>
                            <span class="label label-inverse f-s-10">admin</span>
                        </h5>
                        <p class="email-desc">
                            Suspendisse ut urna orci. Vivamus ac diam sollicitudin, consequat mauris id, facilisis ipsum. Nam feugiat nisl a justo...
                        </p>
                    </div>
                </li>
                <li class="list-group-item warning">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-8.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            2 months ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">LESS & SASS, which one is good?</a>
                            <span class="label label-warning f-s-10">sponsorer</span>
                        </h5>
                        <p class="email-desc">
                            Nam vulputate cursus imperdiet. Sed sodales urna vitae ipsum iaculis, at fermentum...
                        </p>
                    </div>
                </li>
                <li class="list-group-item danger">
                    <div class="email-checkbox">
                        <label>
                            <i class="fa fa-square-o"></i>
                            <input type="checkbox" data-checked="email-checkbox" />
                        </label>
                    </div>
                    <a ui-sref="app.email.detail" class="email-user">
                        <img src="assets/img/user-7.jpg" alt="" />
                    </a>
                    <div class="email-info">
                        <span class="email-time">
                            3 months ago
                        </span>
                        <h5 class="email-title">
                            <a ui-sref="app.email.detail">Simple Line Icons is available on Color Admin v1.4</a>
                            <span class="label label-danger f-s-10">client</span>
                        </h5>
                        <p class="email-desc">
                            Maecenas auctor dui sit amet tristique congue. Pellentesque lobortis nulla quam. Etiam in vulputate magna...
                        </p>
                    </div>
                </li>
            </ul>
            <!-- end list-email -->
            <!-- begin wrapper -->
            <div class="wrapper bg-silver-lighter clearfix">
                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <button class="btn btn-white btn-sm">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
                <div class="m-t-5">1,232 messages</div>
            </div>
            <!-- end wrapper -->
        </div>
        <!-- end vertical-box-column -->
    </div>
    <!-- end vertical-box -->
</div>