<div ng-controller="emailDetailController">
    <!-- begin vertical-box -->
    <div class="vertical-box">
        <!-- begin vertical-box-column -->
        <div class="vertical-box-column width-250">
            <!-- begin wrapper -->
            <div class="wrapper bg-silver text-center">
                <a ui-sref="app.email.compose" class="btn btn-success p-l-40 p-r-40 btn-sm">
                    Compose
                </a>
            </div>
            <!-- end wrapper -->
            <!-- begin wrapper -->
            <div class="wrapper">
                <p><b>FOLDERS</b></p>
                <ul class="nav nav-pills nav-stacked nav-sm">
                    <li class="active"><a ui-sref="app.email.inbox-v2"><i class="fa fa-inbox fa-fw m-r-5"></i> Inbox <span class="badge pull-right">52</span></a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-flag fa-fw m-r-5"></i> Important</a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-send fa-fw m-r-5"></i> Sent</a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-pencil fa-fw m-r-5"></i> Drafts</a></li>
                    <li><a ui-sref="app.email.inbox-v2"><i class="fa fa-trash fa-fw m-r-5"></i> Trash</a></li>
                </ul>
                <p><b>LABEL</b></p>
                <ul class="nav nav-pills nav-stacked nav-sm m-b-0">
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-inverse"></i> Admin</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-primary"></i> Designer & Employer</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-success"></i> Staff</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-warning"></i> Sponsorer</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw m-r-5 fa-circle text-danger"></i> Client</a></li>
                </ul>
            </div>
            <!-- end wrapper -->
        </div>
        <!-- end vertical-box-column -->
        <!-- begin vertical-box-column -->
        <div class="vertical-box-column bg-white">
            <!-- begin wrapper -->
            <div class="wrapper bg-silver-lighter clearfix">
                <div class="btn-group m-r-5">
                    <a href="#" class="btn btn-white btn-sm"><i class="fa fa-reply"></i></a>
                </div>
                <div class="btn-group m-r-5">
                    <a href="#" class="btn btn-white btn-sm p-l-20 p-r-20"><i class="fa fa-trash"></i></a>
                    <a href="#" class="btn btn-white btn-sm p-l-20 p-r-20"><i class="fa fa-file"></i></a>
                </div>
                <div class="pull-right">
                    <div class="btn-group btn-toolbar">
                        <a ui-sref="app.email.inbox-v2" class="btn btn-white btn-sm disabled"><i class="fa fa-arrow-up"></i></a>
                        <a ui-sref="app.email.inbox-v2" class="btn btn-white btn-sm"><i class="fa fa-arrow-down"></i></a>
                    </div>
                    <div class="btn-group m-l-5">
                        <a ui-sref="app.email.inbox-v2" class="btn btn-white btn-sm"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <!-- end wrapper -->
            <!-- begin wrapper -->
            <div class="wrapper">
                <h4 class="m-b-15 m-t-0 p-b-10 underline">Bootstrap v4.0 is coming soon</h4>
                <ul class="media-list underline m-b-20 p-b-15">
                    <li class="media media-sm clearfix">
                        <a href="javascript:;" class="pull-left">
                            <img class="media-object rounded-corner" alt="" src="assets/img/user-14.jpg" />
                        </a>
                        <div class="media-body">
                            <span class="email-from text-inverse f-w-600">
                                from support@wrapbootstrap.com
                                
                            </span><span class="text-muted m-l-5"><i class="fa fa-clock-o fa-fw"></i> 8: 30 AM</span><br />
                            <span class="email-to">
                                To: nguoksiong@live.co.uk
                            </span>
                        </div>
                    </li>
                </ul>
                <ul class="attached-document clearfix">
                    <li>
                        <div class="document-name"><a href="#">flight_ticket.pdf</a></div>
                        <div class="document-file">
                            <a href="#">
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="document-name"><a href="#">front_end_mockup.jpg</a></div>
                        <div class="document-file">
                            <a href="#">
                                <img src="assets/img/login-bg/bg-1.jpg" alt="" />
                            </a>
                        </div>
                    </li>
                </ul>
                
                <p class="f-s-12 text-inverse"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel auctor nisi, vel auctor orci. <br />
                    Aenean in pretium odio, ut lacinia tellus. Nam sed sem ac enim porttitor vestibulum vitae at erat.
                </p>
                <p class="f-s-12 text-inverse">
                    Curabitur auctor non orci a molestie. Nunc non justo quis orci viverra pretium id ut est. <br />
                    Nullam vitae dolor id enim consequat fermentum. Ut vel nibh tellus. <br />
                    Duis finibus ante et augue fringilla, vitae scelerisque tortor pretium. <br />
                    Phasellus quis eros erat. Nam sed justo libero.
                </p>
                <p class="f-s-12 text-inverse">
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br /> 
                    Sed tempus dapibus libero ac commodo.
                </p>
                <br />
                <br />
                <p class="f-s-12 text-inverse">
                    Best Regards,<br />
                    Sean.<br /><br />
                    Information Technology Department,<br />
                    Senior Front End Designer<br />
                </p>
            </div>
            <!-- end wrapper -->
            <!-- begin wrapper -->
            <div class="wrapper bg-silver-lighter text-right clearfix">
                <div class="btn-group btn-toolbar">
                    <a ui-sref="app.email.inbox-v2" class="btn btn-white btn-sm disabled"><i class="fa fa-arrow-up"></i></a>
                    <a ui-sref="app.email.inbox-v2" class="btn btn-white btn-sm"><i class="fa fa-arrow-down"></i></a>
                </div>
                <div class="btn-group m-l-5">
                    <a ui-sref="app.email.inbox-v2" class="btn btn-white btn-sm"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end wrapper -->
        </div>
        <!-- end vertical-box-column -->
    </div>
    <!-- end vertical-box -->
</div>
