<!-- begin coming-soon -->
<div class="coming-soon" ng-controller="comingSoonController">
    <div class="coming-soon-header">
        <div class="bg-cover"></div>
        <div class="brand">
            <span class="logo"></span> Color Admin
        </div>
        <div class="timer">
            <div id="timer"></div>
        </div>
        <div class="desc">
            Our website is almost there and it’s rebuilt from scratch! A lot of great new features <br />and improvements are coming.
        </div>
    </div>
    <div class="coming-soon-content">
        <div class="desc">
            We are launching a closed <b>beta</b> soon!<br /> Sign up to try it before others and be the first to know when we <b>launch</b>.
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-success">Notify Me</button>
            </div>
        </div>
        <p class="help-block m-b-25"><i>We don't spam. Your email address is secure with us.</i></p>
        <p>
            Follow us on 
            <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a> and 
            <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
        </p>
    </div>
</div>
<!-- end coming-soon -->