<div ng-controller="mapGoogleController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Map</a></li>
        <li class="active">Google Map</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Google Map <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <div class="map-content">
        <div class="btn-group map-btn pull-right">
            <button type="button" class="btn btn-sm btn-inverse" id="map-theme-text">Default Theme</button>
            <button type="button" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="map-theme-selection">
                <li class="active"><a href="javascript:;" data-map-theme="default">Default</a></li>
                <li><a href="javascript:;" data-map-theme="flat">Flat</a></li>
                <li><a href="javascript:;" data-map-theme="turquoise-water">Turquoise Water</a></li>
                <li><a href="javascript:;" data-map-theme="icy-blue">Icy Blue</a></li>
                <li><a href="javascript:;" data-map-theme="cobalt">Cobalt</a></li>
                <li><a href="javascript:;" data-map-theme="old-dry-mud">Old Dry Mud</a></li>
                <li><a href="javascript:;" data-map-theme="dark-red">Dark Red</a></li>
            </ul>
        </div>
    </div>
    <div class="map">
        <div id="google-map-default" class="height-full width-full"></div>
    </div>
</div>
