<div>
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">UI Elements</a></li>
        <li class="active">Tabs & Accordions</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Tabs & Accordions <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" data-target="#default-tab-1" data-toggle="tab">Default Tab 1</a></li>
                <li class=""><a href="#" data-target="#default-tab-2" data-toggle="tab">Default Tab 2</a></li>
                <li class=""><a href="#" data-target="#default-tab-3" data-toggle="tab">Default Tab 3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="default-tab-1">
                    <h3 class="m-t-10"><i class="fa fa-cog"></i> Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                        est diam sagittis orci, a ornare nisi quam elementum tortor. Proin interdum ante porta est convallis 
                        dapibus dictum in nibh. Aenean quis massa congue metus mollis fermentum eget et tellus. 
                        Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, nec eleifend orci eros id lectus.
                    </p>
                    <p class="text-right m-b-0">
                        <a href="javascript:;" class="btn btn-white m-r-5">Default</a>
                        <a href="javascript:;" class="btn btn-primary">Primary</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="default-tab-2">
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>
                        Nullam ac sapien justo. Nam augue mauris, malesuada non magna sed, feugiat blandit ligula. 
                        In tristique tincidunt purus id iaculis. Pellentesque volutpat tortor a mauris convallis, 
                        sit amet scelerisque lectus adipiscing.
                    </p>
                </div>
                <div class="tab-pane fade" id="default-tab-3">
                    <p>
                        <span class="fa-stack fa-4x pull-left m-r-10">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                        Praesent tincidunt nulla ut elit vestibulum viverra. Sed placerat magna eget eros accumsan elementum. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis lobortis neque. 
                        Maecenas justo odio, bibendum fringilla quam nec, commodo rutrum quam. 
                        Donec cursus erat in lacus congue sodales. Nunc bibendum id augue sit amet placerat. 
                        Quisque et quam id felis tempus volutpat at at diam. Vivamus ac diam turpis.Sed at lacinia augue. 
                        Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla. 
                        Quisque adipiscing dui nec orci fermentum blandit.
                        Sed at lacinia augue. Nulla facilisi. Fusce at erat suscipit, dapibus elit quis, luctus nulla. 
                        Quisque adipiscing dui nec orci fermentum blandit.
                    </p>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li class="active"><a href="#" data-target="#nav-pills-tab-1" data-toggle="tab">Pills Tab 1</a></li>
                <li><a href="#" data-target="#nav-pills-tab-2" data-toggle="tab">Pills Tab 2</a></li>
                <li><a href="#" data-target="#nav-pills-tab-3" data-toggle="tab">Pills Tab 3</a></li>
                <li><a href="#" data-target="#nav-pills-tab-4" data-toggle="tab">Pills Tab 4</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="nav-pills-tab-1">
                    <h3 class="m-t-10">Nav Pills Tab 1</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                        est diam sagittis orci, a ornare nisi quam elementum tortor. 
                        Proin interdum ante porta est convallis dapibus dictum in nibh. 
                        Aenean quis massa congue metus mollis fermentum eget et tellus. 
                        Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                        nec eleifend orci eros id lectus.
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-pills-tab-2">
                    <h3 class="m-t-10">Nav Pills Tab 2</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                        est diam sagittis orci, a ornare nisi quam elementum tortor. 
                        Proin interdum ante porta est convallis dapibus dictum in nibh. 
                        Aenean quis massa congue metus mollis fermentum eget et tellus. 
                        Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                        nec eleifend orci eros id lectus.
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-pills-tab-3">
                    <h3 class="m-t-10">Nav Pills Tab 3</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                        est diam sagittis orci, a ornare nisi quam elementum tortor. 
                        Proin interdum ante porta est convallis dapibus dictum in nibh. 
                        Aenean quis massa congue metus mollis fermentum eget et tellus. 
                        Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                        nec eleifend orci eros id lectus.
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-pills-tab-4">
                    <h3 class="m-t-10">Nav Pills Tab 4</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                        est diam sagittis orci, a ornare nisi quam elementum tortor. 
                        Proin interdum ante porta est convallis dapibus dictum in nibh. 
                        Aenean quis massa congue metus mollis fermentum eget et tellus. 
                        Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                        nec eleifend orci eros id lectus.
                    </p>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6">
            <div class="panel-group" id="accordion">
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseOne">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #1
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseTwo">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #2
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseThree">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #3
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseFour">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #4
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseFive">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #5
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseSix">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #6
                            </a>
                        </h3>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-inverse overflow-hidden">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#" data-target="#collapseSeven">
                                <i class="fa fa-plus-circle pull-right"></i> 
                                Collapsible Group Item #7
                            </a>
                        </h3>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>