.bodytile {
	background-color: white;
	margin: 5px 15px 5px 15px;
	color: #242a30;
	transition: background-color 0.5s ease;
}

.bodytile:hover {
	background-color: #00acac;
}

.bodytile-heading {
	margin: 0 0 0 0;
	padding: 5px 0 5px 0;
}

.bodytile-subheading {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 17px;
}


.edit-circles-table, .edit-circles-table th {
	text-align: center;
}

.edit-circles-table thead {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid black;
}

.edit-circles-table td {
	width: 150px;
	padding: 5px 0 5px 0;
}

.edit-circles-table-usercol {
	border-right: 1px solid black;
} 


tbody .edit-circles-table-usercol {
	font-size: 16px;
}